/* Empty. Add your own CSS if you like */

.tabs-top > .tabs, .tabs.tabs-top {
    top: 0 !important;
}

.has-tabs-top {
    top: 54px !important;
}

.tabs-background-positive .tabs, .tabs-background-positive > .tabs {
	background-color: #3e6792;
	height:60px;
	padding-top: 7px;
}
.tabs-background-positive .tabs, .tabs-background-positive > .tabs {
	border-color:#3e6792;
}
.box-brand {
	width:280px;
	display: block;
	margin:20px auto;
}
.box-brand-abertura {
	margin-bottom:0;
	width: 220px;
}
	.box-brand img {
		max-width:100%;
		height:auto;
	}
.brand-sfw-publico{
	display: block;
	margin:20px auto;
}
.brand-abertura {
	margin:0 auto;
}
.img-fake {
	display: block;
	margin:0 auto;
	max-width:100%;
	height:auto;
}
.bar.bar-positive, .bar.bar-positive .title, .bar-positive {
	background-color: #3e6792;
	border-color:#3e6792;
}
.bar-positive .button.button-clear {
	color:#ffffff;
}

.abertura{
	background-color:#3c6690;
}

.box-rodape-abertura {
	width:220px;
	display: block;
	margin: 15px auto 0 auto;
}

.abertura-conteudo a {
	color:#FFFFFF;
	text-decoration: underline;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
	min-height:52px;
}

.wrapper-categoria {
	border:0;
	border-bottom:1px solid #3c6690;
}
.item-stable-categoria {
	border-color: #3c6690;
	color: #3c6690;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    padding:0;
}
.item-stable-categoria:focus, .item-stable-categoria:active {
	background-color:transparent;
}
.item-accordion-categoria{
	padding:0;
}
.item-accordion-categoria > .item-content {
	padding:0;
}
.item-accordion-categoria h2 {
	border-color:#ffffff;
	color:#ffffff;
	font-size: 18px;
    font-style: italic;
    font-weight: normal;
    background-color:#3e6792;
    padding:5px 20px;
}
	.item-software {

	}
		.logo-software img {
			max-width: 100%;
			height: auto;
		}
		.item-software p {
			font-size:14px;
			color:#133558;
			line-height:1.4;
			font-style: italic;
			white-space: normal;
		}
		.box-more {
			border-left: 1px solid #a4b7cc;
		}
		.more {
			color: #a4b7cc;
		    font-size: 42px;
		    text-align: right;
		    display: block;
		    padding-right: 20px;
		}
.wrapper-software {
	background-color:#3e6792;
}
.icon-software {
	text-align: right;
}
	.icon-software img {
		max-width: 100%;
		height: auto;
	}
.close-sofware {
	display: block;
    font-size: 22px;
    color: #ffffff;
    text-align: right;
}
.content-software {
	margin-top: 20px !important;
    margin-bottom: 20px;
}
	.title-about {
		font-weight: bold;
		color:#ffffff;
		font-size:14px;
	}
	.text-about{
		color:#ffffff;
		font-size:12px;
	}

.logo-brasil {
	max-width:100%;
	height:auto;
	margin:0 auto;
}
.slider{
	color:#ffffff;
	text-align:center;
	padding:0 0 15px 0;
}
	.slider-pager {
		bottom: 30px;
	}
	.saudacao {
		font-size: 18px;
	    font-style: italic;
	    line-height: 1.4;

	}
	.icon-abertura {
    	margin:10px auto;
	}
		.icon-abertura img {
			max-width: 100%;
			height:auto;
		}
		.icon-abertura-1 {
			width: 80px;
		}
		.icon-abertura-2 {
			width: 100px;
			margin-top:10px;
			margin-bottom:20px: 
		}
		.icon-abertura-3 {
			width: 100px;
			margin-top:10px;
			margin-bottom:20px:
		}
		.icon-abertura-4 {
			width: 80px;
			margin-top:10px;
			margin-bottom:20px:
		}
	.titulo {
		font-weight: bold;
		font-size: 14px;
    	line-height: 1.4;
		color:#ffffff;
		margin-top: 0;
		margin-bottom:10px;
		display: block;
	}
	.abertura-conteudo {
		margin: 10px 0 0 15px;
    	padding: 0 15px;
	}
		.abertura-conteudo p {
			font-size:14px;
		}
		.conteudo-small {
			font-size:12px !important;
			line-height: 1.4;
		}
	.bot-comecar {
	    width: 220px;
	    height: 45px;
	    display: block;
	    margin: 20px auto 70px auto;
	    background: #139fdd;
	    color: #ffffff;
	    text-align: center;
	    padding-top: 13px;
	    text-decoration: none;
	}
	.bot-comecar:hover {
		background: rgba(18, 159, 221, 0.8);
	}

.item-faq {
	border-top: 0;
	border-left: 0;
	border-right: 0;
    border-color: #3c6690 !important;
    color: #3c6690 !important;
    font-weight: bold;
    font-style: italic;
    background-color:transparent !important;
    white-space: normal;
}
.disable-user-behavior{
	width:100%;
}
.list .item.item-accordion {
  	line-height: 1.4;
    transition: 0.02s all linear;
    white-space: normal;
    border: 0;
    background-color: #295786;
    color: #ffffff;
    font-size: 14px;
    white-space: normal;
}
.list .item.item-accordion h3 {
	white-space: normal;
	color:#ffffff;
	font-weight: bold;
}
.list .item.item-accordion p{
	color:#ffffff;
	white-space: pre-wrap;
}
.list .item.item-accordion pre{
	background: #eeeeec;
    color: #2e3436;
	white-space: pre-wrap;
    padding: 5px;
    border: 1px solid #d3d7cf;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.list .item.item-accordion ul {
	list-style: square;
	padding:5px;
}
.list .item.item-accordion ul li {
	margin-bottom:5px;
}
.list .item.item-accordion img{
	max-width: 100%;
	height:auto;
}
.list .item.item-accordion a{
	color:#ffffff;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.wrapper-contato {
	padding:0 15px;
}
	.wrapper-contato h1 {
		color:#4c668d;
		font-size:18px;
		font-weight: bold;
	}
	.description-contact {
		color: #4c668d;
		font-size: 12px;
		line-height: 1.4;
	}
	.box-list-inset {
		margin-bottom:5px;
	}
		.campo-contato {
			border:0;
			background:#eff1f3;
			margin-bottom:5px;
		}
		.campo-contato input,
		.campo-contato textarea {
			color:#4c668d;
			font-size:13px;
			padding:0 20px;
			background-color:transparent;
		}
		.box-botao-contato {
			padding-top:0;
			margin:0;
		}
	.box-rodape-contato {
		margin: 20px auto;
		display: block;
		width: 220px;
	}
		.box-rodape-contato img {
			max-width:100%;
			height:auto;
		}
.share-app{
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	margin: 30px auto 0 auto;
	cursor: pointer;
	width: 100%;
	background-color: transparent;
	border: none;
	display: block;
}
.btn_close{
	background-color: transparent;
	border: none;
}
.share-app:hover {
	text-decoration: underline;
}

.chamada-para-portal {
	margin:5px 0;
	font-weight: bold;
	font-size: 12px;
	font-style: italic;
	color:#ffffff;
}
.chamada-para-portal a {
	color:#ffffff;
}



@media screen and (min-width: 400px) {
	.box-brand-abertura {
		width: 360px;
		margin-bottom:15px;
	}
	.saudacao {
  		font-size: 28px;
  		margin-bottom: 20px;
  	}
  	.icon-abertura-1 {
  		width: 130px;
	}
	.titulo {
  		font-size: 34px;
  	}
  	.conteudo-small {
  		font-size: 16px !important;
  		line-height: 1.4;
  		margin-bottom: 30px;
	}
	.box-rodape-abertura {
  		width: 320px;
  		display: block;
  		margin: 40px auto 0 auto;
	}
	.slider-pager {
  		bottom: 0;
	}
	.box-brand {
  		width: 350px;
  	}
  	.box-rodape-contato {
		width: 300px;
	}
	.description-contact {
  		font-size: 18px;
	}
	.wrapper-contato h1 {
  		font-size: 38px;
	}
	.campo-contato {
		margin-bottom: 15px;
	}
	.box-botao-contato {
  		padding-top: 20px;
  	}
  	.button.button-positive {
  		font-size: 20px;
	}
	.item-software p {
  		font-size: 18px;
  		padding-top: 15px;
	}
	.text-about {
  		font-size: 18px;
  		line-height: 1.4;
	}
	.chamada-para-portal {
  		font-size: 15px;
	}
	.share-app {
  		font-size: 18px;
  		width: 235px;
	}
	.title-about {
  		font-size: 25px;
	}
}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	.slider-abertura {
		margin: 30px auto 40px auto;
	}
}