<ion-view view-title="{{softwares.name}}">
    <ion-content>
        <div class="row box-brand">
            <img src="img/logo.png">
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="O que você procura?" ng-model="searchString">
            </label>
        </div>
        <ion-list>
            <div>
                <ion-item class="item-accordion-categoria" ng-repeat="item in softwares.softwares | searchFor:searchString" href="#/tab/catalogo/{{softwares.id}}/{{item.id}}" type="item-text-wrap">
                    <h2>{{item.name}}</h2>
                    <div class="row item-software">
                        <div class="col logo-software">
                            <img ng-src="{{item.image}}">
                        </div>
                        <div class="col col-50">
                            <p>{{item.description}}</p>
                        </div>
                        <div class="col box-more">
                            <i class="ion-plus-circled more"></i>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <div class="row box-rodape-contato">
            <img src="img/mp_18_escura.png">
        </div>
    </ion-content>
</ion-view>
