<ion-view view-title="" hide-nav-bar="true">
    <ion-content has-header="false" padding="true">
        <div class="row box-brand">
            <img src="img/logo.png">
        </div>
        <ion-list>
            <div ng-repeat="categoria in categorias | orderBy:'id_check'" class="wrapper-categoria">
                <ion-item class="item-stable-categoria" href="#/tab/catalogo/{{categoria.id}}" ng-click="scrollForSoftwares()">
                    {{categoria.name}}
                    <span class="badge badge-assertive">{{categoria.quantity}}</span>
                </ion-item>
            </div>
        </ion-list>
        <div class="row box-rodape-contato">
            <img src="img/mp_18_escura.png">
        </div>
    </ion-content>
</ion-view>
