<ion-view view-title="{{software.name}}">
  <ion-content class="wrapper-software" padding="true">
  	<div class="col-80 col-offset-10">
	  	<div class="row">
			<!-- <div class="col col-10 col-offset-90">
				<button ng-click="closeSoftware();" class="btn_close"><i class="close-sofware ion-close-round"></i></button>
			</div> -->
	  	</div>
	  	<div class="row content-software">
	  		<div class="col col-40">
	  			<h2 class="title-about">Sobre o Software</h2>
	  		</div>
	  		<div class="col col-40 col-offset-20 icon-software">
	  			<img src="{{software.imageLarge}}">
	  		</div>
	  	</div>
	  	<div class="row text-about" ng-bind-html="software.about"></div>
	  	<p class="chamada-para-portal">Acesse do seu computador o portal <a href="#" onclick="window.open('http://www.planejamento.gov.br/spb', '_system', 'location=yes'); return false;">www.planejamento.gov.br/spb</a> para conhecer e baixar este e outros softwares.</p>
	  	<button class="share-app" ng-click="shareSft(software.url)"><i class="ion-android-drafts" icon-off="ion-email" icon-on="ion-email"></i> Compartilhar por e-mail</button>
	</div>
  </ion-content>
</ion-view>