<ion-view view-title="FAQ" hide-nav-bar="true">
	<ion-content has-header="false">
		<div class="row box-brand">
			<img src="img/logo.png">
		</div>
		<div class="row">
			<ion-list>
				<div ng-repeat="pergunta in perguntas">
		  			<ion-item class="item-stable item-faq" ng-click="toggleGroup(pergunta)" ng-class="{active: isGroupShown(pergunta)}">
						<i class="icon" ng-class="isGroupShown(pergunta) ? 'ion-android-arrow-dropdown-circle' : 'ion-android-arrow-dropright-circle'"></i>
						&nbsp;
						{{pergunta.pergunta}}
		  			</ion-item>
		  			<ion-item class="item-accordion" ng-show="isGroupShown(pergunta)" ng-bind-html="pergunta.resposta">
		  			</ion-item>
				</div>
	  		</ion-list>
		</div>
		<div class="box-rodape-contato">
			<img src="img/mp_18_escura.png">
	  	</div>
  	</ion-content>
</ion-view>
