<ion-view view-title="" hide-nav-bar="true">
  	<ion-content class="abertura" has-header="false" padding="false">
		<div class="cont-abertura">
			<div class="row box-brand box-brand-abertura">
				<img src="img/logo-abertura.png">
		  	</div>
			<ion-slide-box class="slider-abertura">
	  			<ion-slide>
					<p class="saudacao">OLÁ,<br />SEJA BEM - VINDO</p>
					<div class="icon-abertura icon-abertura-1">
						<img src="img/abertura-icon-1.png">
					</div>
					<h1 class="titulo">ENTENDA O QUE É O SOFTWARE<br />PÚBLICO BRASILEIRO</h1>
					<div class="abertura-conteudo">
						<p class="conteudo-small">O Software Público Brasileiro é regulamentado pela <a href="#" onclick="window.open('https://portal.softwarepublico.gov.br/social/articles/0000/3365/in_spb_01.pdf', '_system', 'location=yes'); return false;">IN 01/2011</a> e adota um modelo de licença livre para o código-fonte, a proteção da identidade original entre o seu nome, marca, código-fonte, documentação e outros artefatos relacionados, por meio da Licença Pública de Marca – LPM. Está disponível na internet no Portal do Software Público Brasileiro. <a href="#" onclick="window.open('https://portal.softwarepublico.gov.br/social/articles/0000/3365/in_spb_01.pdf', '_system', 'location=yes'); return false;">Acesse a versão completa.</a></p>
					</div>
	  			</ion-slide> <!-- ./ Abertura 01 -->
	  			<ion-slide>
					<p class="saudacao">OLÁ,<br />SEJA BEM - VINDO</p>
					<div class="icon-abertura icon-abertura-3">
						<img src="img/abertura-icon-3.png">
					</div>
					<h1 class="titulo">VEJA TAMBÉM</h1>
					<div class="abertura-conteudo">
						<p  class="conteudo-small">Algumas soluções disponíveis no Portal do Software Público Brasileiro foram desenvolvidas com recursos públicos e são gerenciadas por Instituições Governamentais. Essas ferramentas eletrônicas atendem aos requisitos previstos no art. 14 da IN 01/2011 e são concedidas aos órgãos por meio de Acordo de Cooperação Técnica.</p>
					</div>
	  			</ion-slide> <!-- ./ Abertura 03 -->

	  			<ion-slide>
					<p class="saudacao">OLÁ,<br />SEJA BEM - VINDO</p>
					<div class="icon-abertura icon-abertura-4">
						<img src="img/abertura-icon-4.png">
					</div>
					<h1 class="titulo">VAMOS COMEÇAR</h1>
					<div class="abertura-conteudo">
						<p class="conteudo-small">Neste aplicativo você confere o Catálogo dos softwares, o FAQ e uma área de contato para tirar todas as suas dúvidas sobre o Portal do Software Público Brasileiro.</p>
						<a href="" class="bot-comecar" ng-click="openCatalogo();">COMEÇAR</a>
					</div>
	  			</ion-slide> <!-- ./ Abertura 04 -->
			</ion-slide-box>
			<div class="row box-rodape-abertura">
				<img src="img/mp_18_clara.png" class="logo-brasil">
		  	</div>
		</div>
  	</ion-content>
</ion-view>
