<ion-view view-title="Contato" hide-nav-bar="true">
	<ion-content has-header="false">
		<div class="row box-brand box-brand-abertura">
			<img src="img/logo.png">
		</div>
		<div class="wrapper-contato">
			<h1>FALE CONOSCO</h1>
			<p class="description-contact">
				Este é um canal de atendimento ao cidadão. Por meio do fale conosco você pode enviar ao Departamento de Governança e Sistema de Informação do Ministério do Planejamento  seus pedidos de informação, elogios, criticas e sugestões.
			</p>
			 <form  name="faleComigoForm" class="falecomigo" novalidate form-manager>
			 	<div class="list list-inset box-list-inset" >
                    <label class="item item-input campo-contato">
                        <input ng-model="message.name" name="fieldName" type="text" placeholder="Nome" required ng-minlength="2" ng-maxlength="70">
                    </label>
                    <label class="item item-input campo-contato">
                        <input ng-model="message.email" name="fieldEmail" type="email" placeholder="E-mail" required ng-maxlength="50">
                    </label>
                    <label class="item item-input campo-contato campo-contato-textarea">
                        <textarea ng-model="message.body" name="fieldBody" placeholder="Mensagem" rows="3" required ng-minlength="2" ng-maxlength="70"></textarea>
                    </label>
                </div>
                <div class="padding container box-botao-contato">
                    <div class="row">
                        <button ng-click="submit(user)" class="button button-positive button-small col col-50 col-offset-25">ENVIAR</button>
                    </div>
                </div>
			 </form>
		</div>
		<div class="row box-rodape-contato">
			<img src="img/mp_18_escura.png">
	  	</div>
  	</ion-content>
</ion-view>
