<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-positive tabs-color-light"  ng-class="{'tabs-item-hide': shouldHide()}">

 	<!-- Catálago de software -->
  	<ion-tab title="Ccatálogo de Softwares" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/catalogo">
		<ion-nav-view name="tab-catalogo"></ion-nav-view>
  	</ion-tab>

 	<!-- FAQ -->
  	<ion-tab title="FAQ" icon-off="ion-chatboxes" icon-on="ion-chatboxes" href="#/tab/faq">
		<ion-nav-view name="tab-faq"></ion-nav-view>
  	</ion-tab>

  	<!-- Contato -->
  	<ion-tab title="Contato" icon-off="ion-email" icon-on="ion-email" href="#/tab/contato">
		<ion-nav-view name="tab-contato"></ion-nav-view>
  	</ion-tab>
</ion-tabs>
